/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.notebookQueryPanelGeneratedQuery {
    align-items: center;
    color: $ouiTextSubduedColor;
    display: flex;
    gap: $ouiSizeS;
    padding-left: $ouiSizeXS;
    padding-top: $ouiSizeS;
    justify-content: space-between;

    &__query {
        color: $ouiColorDisabledText;
        // stylelint-disable-next-line @osd/stylelint/no_restricted_properties
        font-family: $ouiCodeFontFamily;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-inline-end: auto;
    }
}